.newHead{
    color: red;
}

.productGridSection{
  display: flex;

  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;

}
.productGridSection .box{
  width: calc(25% - 1rem);
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
    padding-top: 18%;
}
.productGridSection .box .productImg{
     width: calc(100% - 2rem);
    max-width: 100%;
    height: calc(60% - 2rem);
    border-radius: 10px;
    /* padding-top: 56.25%; */
    position: absolute;
    top: 1rem;
}
.productGridSection .box .title{
  display: block;
  word-break: break-all;
  word-break: break-word;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-top: .5rem;
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 18px;
  height: 36px;
}
.productGridSection .box .descriptionData{
 display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1rem;
  margin:0;
    line-height: 18px;
  height: 36px;
}
.productGridSection .box .priceTag{
  display:inline-block;
  margin-top: 10px;
}
.box{
  display: block;
}