# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b781fdb1ab4fc9316181558224470de2"
name = "mywork_app"
application_url = "https://mywork-app.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://mywork-app.fly.dev/auth/callback",
  "https://mywork-app.fly.dev/auth/shopify/callback",
  "https://mywork-app.fly.dev/api/auth/callback"
]
